/******************************************************
 *  docs                  *
\*****************************************************/


#pagenav {
  list-style: none;
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 90px 0px 0px 0px;
  text-align: right;
}
#pagenav li {
  padding:2px 0px;
  margin:0px;
}
#pagenav li a {
  padding: 2px 0px;
  display:block;
  text-decoration: none;
  font-size: 18px;
  color:#767676;
}
#pagenav li a:hover {
  text-decoration: none;
  color:#333;
  background: #E5E5E5;
}
#pagenav li ul {
  margin: 0px;
  list-style:none;
}
#pagenav li ul li a {
  padding: 0px 10px 0px;
  font-size: 16px;
  color:#A6A6A6;
}
#content {
  position: relative;
  margin-left: 255px;
}
#latest_version {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 15;
}
#latest_version a {
  font-size: 44px;
  text-decoration:none;
  color: #B76C29;
}
#content h2 {
  border-top: 1px solid #CCC;
  color: #989898;
  font-size: 30px;
}
#content h2.project_name {
  border:none;
  margin: 0px;
  color:#414141;
  font-size: 44px;
}
#content h3 {
  color: #545454;
  margin-top: 40px;
  border-top: 1px solid #CCC;
  padding-top: 10px;
  font-size: 22px;
}
#content h4 {
  color: #565656;
  border-top: 1px solid #E9E9E9;
  padding-top: 10px;
  font-size: 18px;
  font-weight: normal;
}
#content h4 {
  margin:0px;
}
#content h4 a {
 color:#666;
}

#content a img {
  border: none;
}

#content table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #E5E5E5;
}
#content table th {
  border-bottom: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  font-weight:normal;
  color:#666;
}
#content table td {
  vertical-align: top;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  padding: 4px;
  text-align:left;
}


#contact {
  margin: 10px 0px;
  background: #E5E5E5;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  text-align:center;
}
#contact p {
  width: 986px;
  margin: 10px auto;
  text-align: left;
}
#content .warning {
  background:#E44F21;
  color: #FFF;
  padding: 10px;
  text-align: center;
}
#content .warning h4,
#content .warning a {
  color: #E5E5E5;
}
#content .warning h4 {
  border: none;
  border-bottom: #E5E5E5;
}